@charset "utf-8";

/* -------- grid ---------- */
.grid {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  align-self: center;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid .image {
  margin-bottom: 70px;
  background-color: #FED057;
  height: 200px;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1;
}

.grid .intro {
  grid-column: 1;
  grid-row: 2;
}

.grid .education {
  grid-column: 2;
  grid-row: 2;
}

.grid .company {
  grid-column: 3;
  grid-row: 2;
}

/* -------------------------- */

/* ------- sub grid -------- */
.grid #sub_grid {
  align-self: flex-start center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.grid #sub_grid #title {
  color: #FED057;
  font-size: 25;
}

/* -------------------------- */

/* ------- intro item -------- */

.grid #sub_grid #intro_item {
  height: 50px;
}

.grid #sub_grid #intro_item:hover {
  cursor: pointer;
  background-color: #606160;
}

.grid #sub_grid #intro_item #title {
  color: #FED057;
  opacity: 0.7;
  font-size: 15;
}

.grid #sub_grid #intro_item #content {
  color: white;
  opacity: 1;
  font-size: 20;
}

/* -------------------------- */


/* ------- timeline item -------- */

.grid #sub_grid #timeline_item {
  height: 70px;
}

.grid #sub_grid #timeline_item:hover {
  cursor: pointer;
  background-color: #606160;
}

.grid #sub_grid #timeline_item #title {
  color: white;
  opacity: 1;
  font-size: 20;
}

.grid #sub_grid #timeline_item #date {
  color: white;
  opacity: 0.7;
  font-size: 15;
}

.grid #sub_grid #timeline_item #comment {
  color: #FED057;
  opacity: 0.7;
  font-size: 15;
}

/* -------------------------- */