@charset "utf-8";

.icon_grid{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  align-self: center;
  align-items: center;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;

  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.icon_grid #title{
  grid-row: 1;
  font-size: 20;
  color: white;
  text-align: center;
}

.icon_grid #icon{
  grid-row: 2;
  text-align: center;
}

.icon_grid #icon:hover{
  background-color: #FED057;
  opacity: 0.6;
}

.icon_grid .mail{
  grid-column: 1;
}

.icon_grid .instagram{
  grid-column: 2;
}

.icon_grid .facebook{
  grid-column: 3;
}

.license{
  font-size: 10;
  color: white;
}
