@charset "utf-8";

head {

}

body {
  background-color: black;
}

.preface{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    align-self: center;
    display: grid;
    grid-template-columns: 250px 7fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    color: #FED057;
}

.preface div{
  font-size: 18;
  text-align: center;
  height: 30px;
}

.preface #menuitem:hover {
  background-color : #FED057;
  cursor: pointer;
  color : black;
}

.preface .title {
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  font-size: 30;
}

.preface .home{
  grid-column: 3;
  grid-row: 1;
}

.preface .about{
  grid-column: 4;
  grid-row: 1;
}

.preface .role{
  grid-column: 5;
  grid-row: 1;
}

.preface .projects{
  grid-column: 6;
  grid-row: 1;
}

.preface .contact{
  grid-column: 7;
  grid-row: 1;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
